{block content}
	<h1>Průzkumník ŠVP</h1>

	<h2>Přidat školu</h2>
	{control schoolForm}

	<h2>Školy v systému</h2>
	<div class="seznamOdkazu skoly">
		{foreach $skoly as $skola}
			<p>
				<a n:href="Skola:default $skola->skolaID">{$skola->jmenoSkoly}</a>
			</p>
		{/foreach}
</div>
{/block}