{block content}
	<h1>Vzdělávací plán {$jmenoSVP}</h1>

	<p><a href="">Cíle</a></p>
	<p><a n:href="VzdelavaciObor:default $svpID, -1">Obory</a></p>
	<p><a n:href="VzdelavaciObsah:default $svpID, -1">Obsah</a></p>
	<p><a href="">Aktivity</a></p>

	<br><br>

	<p><a n:href="TabulkaPrehled:default $svpID">Tabulkový přehled ŠVP</a></p>
{/block}