{block content}
	<h1>Seznam aktivit plánu {$jmenoSVP}</h1>

	<h2>Přidat aktivitu</h2>
	{control activityForm}

	<h2>Aktivity</h2>
	<div class="seznamOdkazu vzdelavaciObory">
		{foreach $aktivity as $aktivita}
			<p>
				<a n:href="VzdelavaciAktivita:default, aktivitaID: $aktivita->vzdelavaciAktivitaID, svpID: $svpID">{$aktivita->jmenoAktivity}</a>
				(<a n:href="deleteActivity! $aktivita->vzdelavaciAktivitaID">smazat</a>)
			</p>
		{/foreach}
	</div>
{/block}