{block content}
	<h1>Seznam aktivit plánu {$jmenoSVP}</h1>

	<h2>Přidat aktivitu</h2>
	{control activityForm}

	<h2>Aktivity</h2>
	<div class="seznamOdkazu vzdelavaciObory">
		{foreach $aktivity as $aktivita}
			<p>
				<a n:href="VzdelavaciAktivita:default $aktivita->vzdelavaciAktivitaID, $svpID">{$aktivita->jmenoAktivity}</a>
			</p>
		{/foreach}
	</div>
{/block}