.navbar {
    background-color: rgb(175, 175, 175);
    padding: 16px;
}

.navbar a {
    margin: 8px;
    margin-left: 0px;
    margin-right: 16px;
}

.flash {
    background-color: rgb(135, 187, 17);
    color: rgb(0, 0, 0);
    padding: 16px;
    margin-top: 8px;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    vertical-align: top;
    text-align: left;
}

th:nth-child(even) { background-color: rgb(191, 191, 191); }
th:nth-child(odd) { background-color: rgb(185, 185, 185); }
tr:nth-child(even) td:nth-child(even) { background-color: rgb(242, 242, 242); }
tr:nth-child(even) td:nth-child(odd) { background-color: rgb(235, 235, 235); }
tr:nth-child(odd) td:nth-child(even) { background-color: rgb(229, 229, 229); }
tr:nth-child(odd) td:nth-child(odd) { background-color: rgb(220, 220, 220); }

tr:nth-child(even) td:first-child { background-color: rgb(205, 205, 205); }
tr:nth-child(odd) td:first-child { background-color: rgb(198, 198, 198); }

.scrollTable {
    overflow: auto;
    overflow-y: visible;
    width: 100%;
    height: calc(100vh - 2rem);
}

.scrollTable table {
    table-layout: fixed;
}

.scrollTable th:first-child,
.scrollTable td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.scrollTable th {
    position: sticky;
    top: 0;
    z-index: 2 !important;
}

.scrollTable th:first-child {
    z-index: 3 !important;
}

.icoButton img {
    height: 1rem;
}

.icoButton {
    border: none;
    border-radius: 10%;
    display: block;
    margin-top: 8px;
}

.filterForm {
    display: inline;
}

.filterForm table {
    display: inline;
}